<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8" /> 
    <meta name="description" content="A piece of paper in the cloud." /> 
    <link rel="shortcut icon" type="image/gif" href="/images/favicon.gif" /> 
    <title>notepaper.me - {{ l10n.site_desc }}</title> 
    <link rel="stylesheet" href="/static/master.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/print.css" type="text/css" media="print" />
    {% if user_browser == 'firefox' %}<link rel="stylesheet" href="/static/firefox.css" type="text/css" media="screen" />{% endif %}

    {% block head %}
    <script type="text/javascript" src="/static/jquery-1.5.2.min.js"></script>
    <script type="text/javascript">
        var assets_version = 3;
        var is_iphone_os = {% if user_browser == 'iphone' %}true{% else %}false{% endif %};
        var is_kindle = {% if user_browser == 'kindle' %}true{% else %}false{% endif %};

        var pad_name = {% if pad_name  %}'{{ pad_name }}'{% else %}false{% endif %};

        var disable_autosave = false;
        var read_only_mode   = {% if read_only_mode %}true{% else %}false{% endif %};

        var caret_position  = {% if pad and pad.caret_position %}{{ pad.caret_position }}{% else %}0{% endif %};
        var scroll_position = {% if pad and pad.scroll_position %}{{ pad.scroll_position }}{% else %}0{% endif %};
        
        var l10n = {'open_ime': "{{ l10n.open_ime }}",
            'close_ime': "{{ l10n.close_ime }}",
            'save_contents_failed': "{{ l10n.save_contents_failed }}",
            'logged_out': "{{ l10n.logged_out }}",
            'leaving_notice': "{{ l10n.leaving_notice }}" };
    </script>
    <script type="text/javascript" src="/static/app.js"></script>
    {% endblock %}
    
    {% if user_browser == 'iphone' %}
    <link rel="stylesheet" href="/static/iphone.css" type="text/css" />
    <link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon-precomposed-iphone.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name = "viewport" content = "width = 320, initial-scale = 1" />
    {% endif %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3020863-10']);
      _gaq.push(['_setDomainName', '.taskpad.me']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body id="body">
{% block content %}{% endblock %}

<progress id="unsaved" style="display:none;"></progress>
<progress id="loading" style="display:none;"></progress>

<footer id="controls">
{% block footer %}
    <a href="/">taskpad.me</a>
{% endblock %}
</footer>
</body> 
</html>