{% extends "base.html" %}

{% block content %}
<div class="input_form" style="margin-bottom:40px;">
    <section class="copy" style="margin-bottom:50px;">
        {% if error %}{{ l10n.password_incorrect }}{% else %}{{ l10n.password_msg }}{% endif %}
    </section>
    
    <form action="/login/{{ pad_name }}" method="post">
        <input id="pad_name" name="pad_name" type="hidden" value="{{ pad_name }}"/>
        <div class="input_wrapper">
            <input class="text_input" type="password" value="" id="pad_password" name="pad_password"/>
            <label for="pad_password">{{ l10n.password }}</label>
        </div>
        
        <div style="text-align:center;">
            <input type="submit" class="big_button" value="{{ l10n.login }}" />
        </div>
    </form>
</div>
{% endblock %}